<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <!-- CSS -->
  <link href="{% static 'login.css' %}" rel="stylesheet">
  <script src="{% static 'login.js' %}"></script>
</head>

<body>
  <div class="login1" id="login1">
    <button class="btn" id="adminBtn" onclick="openaelogin()">Admin</button>
    <button class="btn" id="empBtn">Employee</button>
  </div>
</body>

</html>